services:
  server:
    container_name: server
    image: job-orchestrator
    build:
      dockerfile: Dockerfile
      target: server
    command: /job-orchestrator server
    environment:
      # Location inside the container where the data will be saved
      DATA_PATH: /opt/data
      # Location inside the container where the db will be saved
      DB_PATH: /opt/data/db.sqlite
      # Max age of folders (in seconds)
      MAX_AGE: 172800
      # Services #==================================================#
      SERVICE_EXAMPLE_UPLOAD_URL: http://client:9000/submit
      SERVICE_EXAMPLE_DOWNLOAD_URL: http://client:9000/retrieve
      SERVICE_EXAMPLE_RUNS_PER_USER: 5
      #=============================================================#
    ports:
      - "5000:5000"
    volumes:
      - orchestrator-data:/opt/data
      - orchestrator-tmp:/tmp
    networks:
      - api
      - public

  client:
    container_name: client
    build:
      dockerfile: Dockerfile
      target: client
    command: /job-orchestrator client
    volumes:
      - orchestrator-tmp:/tmp
    depends_on:
      - server
    environment:
      PORT: 9000
    networks:
      - api

networks:
  public:
    internal: false
  api:
    internal: true

volumes:
  orchestrator-data:
  orchestrator-tmp:
